{mgc,
    [
        [ {iface, "eth1"}, {send_mod, "udp"}, {encoding_mod, "pretty"} ],
        [ {iface, "eth1"}, {send_mod, "tcp"}, {encoding_mod, "pretty"} ],
        [ {iface, "eth1"}, {send_mod, "udp"}, {encoding_mod, "binary"} ],
        [ {iface, "eth1"}, {send_mod, "tcp"}, {encoding_mod, "binary"} ]
    ]
}.

{loger,
    [{level, "all"},    {file, "sessionAll.log"}],
    [{level, "debug"},  {file, "sessionDBG.log"}]
}.