{
    mgc,
    [
        [ {ip, "192.168.0.81"}, {port, 2944}, {send_mod, "udp"}, {encoding_mod, "pretty"}, {script, callback}],
        [ {ip, "192.168.0.81"}, {port, 2944}, {send_mod, "tcp"}, {encoding_mod, "pretty"}, {script, callback}]
    ]
}.

{
    loger, [{level, "all"}, {file, "sessionAll.log"}]
}.